<% include partials/header %>

<h2><%= contents.name %></h2>
 
<img src="<%= contents.image %>">
 
<p><%= contents.description %></p>

<a href="/all_contents">Tüm yazılar</a>

<% include partials/footer %>